img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    margin-bottom: 20px;
}


body 
{
    background-color: #cadaff;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
nav, footer 
{
    background-color: #dff0ff;
    min-width: 100%;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul 
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li a 
{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}