body{
    background-color: azure;
    color: #808080;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* unvisited link */
a:link {

    color: #6e0436;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #430253;
}

/* mouse over link */
a:hover {
    color: #f8f1ff;
}

/* selected link */
a:active {
    color: #D90368;
}
nav{
    display: inline-block;
    padding: 10px;
}
article{
    padding: 10px;
}
.button{
    font-size: 12pt;
    display: inline-block;
    min-height: 30px;
    min-width: 100px;
    background-color: aquamarine;
    text-align: center;
    padding: 5px 10px 10px 5px;
    margin: 2px;
}
.button:hover{
    background-color: #808080;
    filter: drop-shadow(2px 2px 5px #808080);
    border-radius: 3px;
}

#s208562 {
    color: #FFFFFF;
    background-color: #90bdff;
    padding: 15px;
}
#s208109 {
    color: #FFF700;
    background-color: #3D3D3D;
    padding: 15px;
}