/* 
HEXy pasujacych so siebie kolorow 
z ktorych korzystamy:

D8F793 light green
A0CA92 darker green
75B09C ligt teal
998650 brownish
E0BE36 golden yellow
*/

body{
    background-color: #D8F793;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #212121;
}

header{
    background-color: #A0CA92;
    padding: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
    width: 75%;
    border-radius: 10px;
    margin-bottom: 10px;
}

header li, header h2 {
    list-style: none;
    text-align: justify;
}

main{
    background-color: #A0CA92;
    padding: 20px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto; 
    width: 75%;
    border-radius: 10px;
}

footer{
    background-color: #75B09C;
    padding: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
    width: 75%;
    border-radius: 10px;
    margin-top: 10px;
}